html{box-sizing: border-box;}
*, *::before, *::after{box-sizing: inherit;}
:root{
--primary-color: #757575;
--primary-title-color: #FFFFFF;
--title-color:#212121;
--effects-color:#2196F3;
--footer-color:rgba(255, 255, 255, 0.6) ;
--button-color:#2196F3;
--body-color:#FFFFFF;
--border-bottom:#ECECEC;
--banner-color:#2F303A;
--team-background-color:#F5F4FA;
--image-content-border-color:#EEEEEE;
--gradient-color:rgba(47, 48, 58, 0.4);
--icon-color:#AFB1B8;
--background-color-img-activity: rgba(47, 48, 58, 0.8);
--transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1); 
}

.body-studio, .body-portfolio, .body-contacts{
font-family: 'Roboto', sans-serif;
background-color:var(--primary-title-color);
color: var(--primary-color);

margin: 0 auto;
}

img, svg{display: block;}

h1, h2, h3, p{
    margin: 0;
}

.visually-hidden{
    position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.speciality-title, .activity-title, .team-title, .list-title, .title, .title-image, .customer-title{
 color:var(--title-color) ;
}
/*Тексти*/
/*Колір Тексту: сірий #757575/
/*Колір адреси і заголовків: білий #FFFFFF,чорний #212121/
/*Колір ефектів: блакитний #2196F3*/
/*Колір телефону і пошти у футері:rgba(255, 255, 255, 0.6)*/
/*Фони*/
/*Колір шапки:#FFFFFF*/
/*Колір першої секції і футера:#2F303A*/
/*Колір секції з командою:#F5F4FA*/

/*header*/
.page-head{
background-color: var(--body-color);
border-bottom: 1px solid var(--border-bottom);

}

.page-head a, .footer a, .link-btn, .link-item-image{text-decoration:none;}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container.head{
    display: flex;
    align-items:center;
}

.site-nav{
    display: flex;
    align-items:center;
}

.head.list .link-item.current{
color: var(--effects-color);}

.logo{
display: block;

color:var(--title-color);

font-family: 'Raleway', sans-serif;;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.logo .web {color:var(--effects-color);}

.list, .speciality-list, .list-customer, .list-icon, .icons-team-box
{list-style: none;}

.head.list,.head-contacts.list{
    display: flex;
    margin:0;
    padding:0;
}
.head-contacts.list{
    margin-left: auto;

}

.head.list{
    margin-left: 93px;
}

.head.list .head-item{
    position: relative;
    color: var(--title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}

.head.list .head-item:hover, .head.list .head-item:focus{
   color: var(--effects-color); 
}

.head.list .link-item{
    color: currentColor;
}

.head.list .link-item.current::after{
    display: inline-block;
    content:"" ;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--effects-color);
  
}


.head-contacts.list .link-contacts{
    color: var(--primary-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}

.head.list .link-item, .head-contacts.list .link-contacts{
    display: block;
    padding-left: 0;
    padding-top: 32px;
    padding-bottom: 31px;
    font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
}

.head-contacts.list .link-contacts:hover,.head-contacts.list .link-contacts:focus{
    color: var(--effects-color); 
}

.head-item:not(:last-child){
margin-right: 50px;
}

.head-contacts.list .link-contacts{
    display: flex;
    align-items: center;
}

.icon-svg{
   
   margin-right: 10px;
   fill:currentColor;
}



/*Section banner*/
.banner{
    background-color:var(--banner-color) ;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4) 
        ),
    url(../images/headder-banner.jpg) ;
    
    max-width: 1600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

}
.banner-title{color: var(--primary-title-color);

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align:center;
letter-spacing: 0.06em;
text-transform: uppercase;
width: 696px;
margin: 0 auto;
margin-bottom: 30px;

}

.banner-btn{
    background-color:var(--button-color);
    color: var(--primary-title-color);

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;  

    padding: 9px 31px; 
    margin: 0 auto;
    display: block;

    cursor: pointer;
    border-radius: 4px ;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}



/*Section speciality*/

.speciality{
 padding-top: 94px;
}
.speciality-list{
    display: flex;
    margin: 0;
    padding: 0;
}
.speciality-item{
    width: 270px;
}
.speciality-item:not(:first-child){
    margin-left: 30px;
}

.icon-special{
background-color: var(--team-background-color);

height: 120px;

display: flex;
justify-content: center;
align-items: center;

border-radius: 4px;
margin-bottom: 30px;
}

.speciality-item .list-title{
font-size: 14px;
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
margin-top: 0px;
margin-bottom: 10px;
}

.speciality-item .list-text{
 font-size: 14px;
  line-height: 1.7;
  margin: 0px; 
  letter-spacing: 0.03em;
}

/*Section activity*/

.activity{
   padding-top: 94px;
   padding-bottom: 94px;
}

.activity-title{
margin-top: 0px; 
margin-bottom: 50px;
 
}
.activity-title, .team-title, .customer-title{

 font-weight: 700;
 font-size: 36px;
 line-height: 1.17;
 text-align: center;
 letter-spacing: 0.03em;
}

.activity.list{
 display: flex;
 padding: 0px;
 margin: 0px;
}
.activiti-item:not(:last-child){
    margin-right: 30px;
}
.activiti-item .box-img{ 
    position: relative;
}

.activiti-item .box-title{
    position: absolute;
    bottom: 0;

    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
    
    color:var(--body-color);
    background-color:var(--background-color-img-activity);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


/*Section team*/

.team{
    background-color:var(--team-background-color) ;
    padding-top: 94px;
   padding-bottom: 94px;
}
.team-title{
    margin: 0px;
    margin-bottom: 50px;
    
}
.team .list{
    display: flex;
    margin-top: 50px;
    padding: 0px;
    margin: 0px;
}

.team-item{
    background-color: var(--body-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
}

.team-item:not(:last-child){
    margin-right: 30px;
}

.team-content{
padding-top: 30px;
padding-bottom: 16px;
}

.team-item .title{
text-align: center;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;

margin: 0px;
}

.team-item .text {
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
margin-top: 10px;
}

.icons-team-box{
    display: flex;
    padding:0px 32px 30px 32px;
}

.icons-team:not(:last-child){
    margin-right: 10px;
}

.icons-team{
    width: 44px;
    height: 44px;
    
}

.link-icon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    color:var(--icon-color) ;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}

.link-icon:hover, .link-icon:focus{
    background-color: var(--effects-color);
    color:var(--body-color);
    
}
.icon{
    fill:currentColor
}


/*Customers*/
.customer{
    padding-top: 94px;
    padding-bottom: 94px;
}
.customer-title{
    margin-left:auto;
    margin-right: auto;
   margin-bottom: 50px;
}

.list-customer{
    display: flex;
    margin: 0;
    padding: 0;
}

.item-customer:not(:last-child){
    margin-right: 30px;
}
.link-icon-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color:var(--icon-color);
    cursor: pointer;

    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}

.icon-logo{
    display: inline-flex;
    fill:currentColor;
}

.link-icon-logo:hover, .link-icon-logo:focus{
    color: var(--effects-color);
    border: 1px solid var(--effects-color);
    
}


/*Footer*/
.footer{
    background-color:var(--banner-color) ;
padding-top: 60px;
padding-bottom: 60px;}

.logo-footer{
color:var(--primary-title-color);

font-family: 'Raleway', sans-serif;;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

display: block;
}
.logo-footer .web {color:var(--effects-color);}

.item.address{color:var(--primary-title-color);
padding: 0;}

.item.mail, .item.tel{color:var(--footer-color);}

.address-footer{
    margin-top: 20px;
 padding: 0;
}

.address.list{
  padding: 0;
  margin: 0;
}

.address.list .item{
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.03em;}

.address-footer .list-item:not(:last-child){
    margin-bottom: 9px;
}

.footer .container{
    display: flex;
    align-items: baseline;
   
}
.list-icon{
    display: flex;
    padding: 0;
    margin: 0;
   
}
.footer-titel{
color:var(--primary-title-color) ;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.03em;
text-transform: uppercase;

display: inline-block;
margin-bottom: 20px;
}

.right-side{
    margin-left: 94px;
}

.icon-footer{
    width: 44px;
    height: 44px;
}

.icon-footer:not(:last-child){
margin-right: 10px;
}

.link-icon-footer{
background: rgba(255, 255, 255, 0.1);

color:var(--primary-title-color);
display: flex;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;
border-radius: 50%; 
cursor: pointer;

   transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}

.link-icon-footer:hover, .link-icon-footer:focus{
background-color:var(--effects-color);

}


/*Portfolio*/

.main-portfolio{
padding-top: 94px;
padding-bottom: 94px;
   
}

.portfolio-menu.list{
display: flex;
justify-content: center;
margin:0;
padding-left:0;
margin-bottom: 50px;
 }

button.item{
    background-color:var(--team-background-color);
    color:var(--title-color) ;

 font-family: 'Roboto';
 text-align: center;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.62;
 text-align: center;
 letter-spacing: 0.03em;

   border: none;
   cursor: pointer;
   padding: 6px 22px;
   border-radius: 4px ;

}

button.item.all{
    padding: 6px 25px;
    
}

.item-button:not(:last-child){
    margin-right: 8px;
}

.portfolio-menu .item{
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);}

.portfolio-menu .item:hover, .portfolio-menu .item:focus{
    background-color: var(--effects-color);
    color:var(--body-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.image-menu.list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.image-menu.list .item{
 background-color:var(--primary-title-color) ;

width: 370px;
margin-right: 30px;
margin-bottom: 30px;
}

.link-item-image{
    display: block;
    color: inherit;
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);

}


.link-item-image .box-img{
    position: relative;
    overflow:hidden;
}

.link-item-image .box-img .box-text{
   position: absolute;
    top:0;
    left: 0;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;

    transform: translateY(294px);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
    
}


.link-item-image .box-img .text{
    color:var(--body-color);
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
}

.link-item-image:hover .box-text{
    transform: translateY(0);

}

.link-item-image:hover, .link-item-image:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-menu.list .item:nth-child(3n){
    margin-right: 0;
}

.image-menu.list .item:nth-last-child(-n+3){
    margin-bottom: 0;
}

.title-image{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin-top: 0px;
margin-bottom: 4px;
}

.link-item-image .text{
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
margin: 0px;
}

.image-content{
    padding-top: 20px;
 padding-bottom: 19px;
 padding-left: 23px;

border: 1px solid var(--image-content-border-color);    
border-top: none;
}

/*Contacts*/

.contacts{
    width: 1600px;
}
.contacts-title{
    color: var(--title-color);

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align:center;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
}


/*Modal*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}

.backdrop.is-hidden{
    opacity: 0;
    visibility:hidden;
    pointer-events:none;
   
}


.modal{
    position: absolute;
    top: 50%;
    left:50%;

    transform: translate(-50%, -50%) scale(1);
    min-width:528px ;
    min-height: 581px;

    background-color: var(--body-color);
    border-radius: 4px;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--transition-timing-function);
}



.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.5);

}


.modal .btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid #E6E6E6;
    border-radius: 50%;
    background-color: var(--body-color);
    padding: 8.5px;
    cursor: pointer;
}
